<div class="row mx-auto">
    <div class="col-sm-8">
        <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Users</h6>
        </div>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Delete | Edit</th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{first_name}} {{last_name}}</td>
                        <td>{{email}}</td>
                        <td>{{phone}}</td>
                        <td>
                            <a href="#" class="btn btn-danger btn-circle">
                                <i class="fas fa-trash"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a href="#" class="btn btn-warning btn-circle">
                                <i class="fas fa-edit"></i>
                            </a>
                       </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
